/* This is the div with the Pages */
#welcome{
	padding:10px;
	background-color: lightgrey;
	width: 50%;
	min-width:310px;
	max-width:530px;
}
/* This is for de div in Page 1*/
#headers{
	background-color:purple;
	padding:10px;
	color:red;
	min-width: 310px;
	max-width:530px;
	width:50%;
}
#headers>h3{
	color:black;
}

/* This is for de div in Page 2 */
#sections{
	padding:10px;
	background-color: purple;
	min-width: 310px;
	max-width:530px;
	width:50%;
}
#sections ol>li{
	color:red;
}

#sections #first_ul>li{
	color: green;
}

#sections #second_ul>li{
	color:blue;
}

/* This is for the div in the Page 3 */
#forms{
	padding:10px;
	min-width: 310px;
	max-width:530px;
	width:50%;
	background-color: purple;
}

/* This is for the div in the Page 4 */
#paises{
	padding:10px;
	min-width: 310px;
	max-width:530px;
	width:50%;
	background-color: purple;
}

input[type=text]{
	background-color:yellow;
}

input[type=number]{
	background-color:red;
}

/* This is for the div in the Page 5 */
#hovers{
	padding:10px;
	min-width: 310px;
	max-width:530px;
	width:50%;
	background-color: purple;
}

#button_page5{
	font-size: 24px;
	background-color:green;
	border:none;
}

#button_page5:hover{
	background-color:orange;
}

/* Adding the 'arrow' before each header (wich all have h3 tag)*/
h3::before{
	content: "\21d2 ";
}